.cardContainer {
  position: relative;
  border-radius: 12px;
  width: 400px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: var(--white-color);
  transition: all 250ms ease;
  box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.4);
}

.cardContainer:hover {
  box-shadow: 8px 8px 3px rgba(0, 0, 0, 0.6);
}

.cardImg {
  height: 140px;
  width: 100%;
  transition: 300ms;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.cardImgHover {
  height: 140px;
  width: 100%;
  transform: scale(1.05);
  transition: 300ms;
}

.imgOverlay {
  position: absolute;
  width: 100%;
  height: 60px;
  top: 80px;
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 17%, rgba(0,0,0,0) 100%);
  color: var(--white-color);
  font-weight: 700;
  display: flex;
  align-items: flex-end;
}

.imgOverlay > span{
  padding: 0 0 8px 20px;
}

.cardDescription {
  position: relative;
  background-color: white;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  padding: 12px 20px 2px;
}

.cardDescriptionClamped {
  height: 50px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  padding: 12px 20px 2px;

  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.cardFooter {
  height: 32px;
  font-size: 14px;
  display: flex;
  padding: 0 20px;
  justify-content: space-between;
  align-items: center;
}

@media (width < 600px) {
  .cardFooter {
    /* height: 32px;
    font-size: 14px;
    display: flex;
    padding: 0 20px;
    justify-content: space-between;
    align-items: center; */
    background-color: var(--first-color-lighter);
    color: white;
    border-top: thin solid black;
    padding: 6px 20px;
    height: fit-content;
  }
}

/* @media (width < 460px) {
  .cardContainer {
    width: 300px;
  }
  .cardImg {
    height: auto;
  }
  .cardImgHover {
    transform: scale(1.05);
    height: fit-content;
  }
} */

@media (width < 450px) {
  .cardContainer {
    width: 300px;
  }
  .cardImg {
    height: 85px;
  }
  .cardImgHover {
    height: 85px;
    transform: scale(1.05);
  }
  .imgOverlay {
    position: relative;
    top: unset;
    background: unset;
    font-weight: 700;
    align-items: unset;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: thin solid black;
  }
  .imgOverlay > span{
    padding: 0;
    font-size: 12px;
    text-align: center;
    color: var(--text-color);
  }
  .cardDescription {
    font-size: 11px;
    line-height: 16px;
    padding: 12px 14px;
    border-bottom: thin solid black;
  }
  .cardFooter {
    border-top: unset;
    height: fit-content;
    flex-direction: column;
    padding: 6px 12px;
    gap: 4px;
  }
}
