.hero-image {
  background-image: url(/public/static/images/Hero_1280x720_Comprimida.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

/* Esto se usa en ambas Hero Image */
.hero-image-opacity {
  width: 100%;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--black-alpha-color);
}

.hero-image-title {
  font-size: 7vw;
  margin-bottom: 2rem;
  color: var(--white-color);
}

.hero-image-subtitle {
  font-size: 5vw;
  margin-bottom: 2rem;
  color: var(--yellow-color);
}

.main-btn {
  border-radius: 5rem;
  padding: 1rem;
  display: inline-block;
  width: 200px;
  text-align: center;
  text-decoration: none;
  color: var(--white-color);
  background-color: var(--first-color);
}

#hero-btn {
  border: solid 2px;
  border-color: #CCC;
  transition: 200ms ease;
  margin-bottom: 40px;
}

#hero-btn:hover {
  transform: scale(1.12);
  border-color: var(--yellow-color);
  transition: 200ms ease;
}