.hero-image {
  background-image: url(/public/images/Hero_1280x720_Comprimida.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

/* Esto se usa en ambas Hero Image */
.hero-image-opacity {
  width: 100%;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--black-alpha-color);
}

.hero-image-title {
  font-size: 7vw;
  margin-bottom: 2rem;
  font-weight: 800;
  color: var(--white-color);
}

.hero-image-subtitle {
  font-size: 4vw;
  margin-bottom: 2rem;
  font-weight: 300;
  color: var(--yellow-color);
}

.main-btn {
  border-radius: 5rem;
  padding: 1rem;
  display: inline-block;
  width: 200px;
  text-align: center;
  text-decoration: none;
  color: var(--white-color);
  background-color: var(--first-color);
}

#hero-btn {
  border: solid 2px;
  border-color: #CCC;
  transition: 200ms ease;
  margin-bottom: 40px;
}

#hero-btn:hover {
  transform: scale(1.12);
  border-color: var(--yellow-color);
  transition: 200ms ease;
}

@media (width < 600px) {
  .hero-image {
    background-image: url(/public/images/Hero_Mobile.png);
  }
  .hero-image-title {
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 3rem;
  }
  .hero-image-subtitle {
    font-size: 24px;
    font-weight: 600;
  }
  .main-btn {
    width: 150px;
    font-size: 12px;
    padding: 12px;
  }
  #hero-btn:hover {
    transform: scale(1.08);
  }
}

@media (width < 400px) {
  .hero-image-title {
    white-space: nowrap;
    font-size: 32px;
    margin-bottom: 2rem;
  }
  .hero-image-subtitle {
    font-size: 20px;
    margin-bottom: 1rem;
  }
}