.stackCard, .stackCardLong {
  border: 3px solid var(--first-color-lighter);
  border-radius: 20px;
  overflow: hidden;
  height: fit-content;
  box-shadow: 8px 8px 6px rgba(0, 0, 0, 0.4);
  cursor: default;
}

.stackCardLong {
  width: 50vw;
  min-width: 500px;
  max-width: 850px;
  flex-grow: 1;
  margin-bottom: 30px;
}

.stackCard {
  min-width: 400px;
  max-width: 400px;
  flex-grow: 3;
  margin: 20px;
}

.cardTitle {
  background-color: var(--white-color);
  text-align: center;
  font-size: 24px;
  padding: 1rem 0;
}

.iconsContainer {
  background-color: var(--first-color-lighter);
  color: var(--white-color);
  padding: 30px 22px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 36px;
}

@media (width < 1000px) {
  .stackCardLong, .stackCard {
    width: 100%;
    min-width: 400px;
    max-width: 850px;
    margin: 20px 0;
  }
}

@media (width < 600px) {
  .stackCardLong, .stackCard {
    width: 100%;
    min-width: 200px;
    max-width: 850px;
    margin: 20px 10px;
  }
  .cardTitle {
    font-size: 18px;
    padding: .5rem 0;
  }
  .iconsContainer {
    padding: 30px 12px;
    gap: 25px 30px;
  }
}