.sectionContainer {
  height: 100vh;
  width: 100%;
  background-image: url(/public/images/HeroCerts_1280x720.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: var(--hero-attachment);
}

.heroOverlay {
  height: 100vh;
  width: 100%;
  background-color: var(--white-alpha-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentWrapper {
  width: fit-content;
  height: fit-content;
}

.contentWrapper > h2 {
  border-top: thin solid black;
  border-bottom: thin solid black;
  margin: 2rem auto;
  padding: 0.6rem 1rem;
  max-width: 400px;
  min-width: 250px;
  text-align: center;
  color: black;
}

.sliderContainer {
  width: 800px;
  height: 390px;
  background-color: var(--white-alpha-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.slidesCarrousel {
  display: flex;
  list-style: none;
  transition: transform 500ms ease-in-out;
}

/* .heroDotsContainer {
  text-align: center;
  margin: 5px 0;
}

.heroDotsContainer > input {
  margin: 0 6px;
  cursor: pointer;
} */
