.sectionContainer {
    background-color: var(--gray-light-color);
    height: fit-content;
    padding-top: 60px;
    padding-bottom: 80px;

    display: flex;
    flex-direction: column;
    gap: 50px;
}

.sectionContainer h3 {
    margin: 2rem auto;
    padding: 0.6rem 1rem;
    text-align: center;
    border-top: thin solid black;
    border-bottom: thin solid black;
    max-width: 400px;
    min-width: 250px;
    font-size: 24px;
}

.sectionContainer section {
    width: 60vw;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    margin: 0 auto;
}