.heroDotsContainer {
  text-align: center;
  margin: 5px 0;
  /* display: flex;
  justify-content: center;
  align-items: flex-end; */
}

.heroDotsContainer > input {
  margin: 0 6px;
  cursor: pointer;
  transition: 150ms ease;
}

.heroDotsContainer > input:hover {
  transform: scale(1.3);
}

/* @media (width < 900px) {
  .heroDotsContainer {
    margin: 5px 0 15px;
  }
} */

/* @media (width < 600px) {
  .heroDotsContainer {
    background-color: blue;
  }
} */